{{ define "main" -}}
<div class="posts">
{{ range first 3 (where .Data.Pages "Section" "post") }}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  {{ .Content }}
</div>
{{- end }}
</div>
{{- end }}
